<!DOCTYPE html>
<html>

<head>
  <title>云雷达</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/openlayers@4.6.4/dist/ol.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
  <link rel="stylesheet" href="./app.css" />

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/openlayers"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="projection.js"></script>
</head>

<body>
  <div id="app">
    <div class="sidenav">
      <section class="section">
        <h1><font color="#FFD306">云雷达 4.21</font></h1>
        <p><font color="#FFD306">作者qq10940638</font> </p>
        <!-- <div class="field is-grouped">
          <a class="button is-small">Button</a>
          <a class="button is-small">Button2</a>
        </div> -->
        <label class="label"><font color="#FFD306">地图:</font></label>
        <input type="radio" id="erangel" value="erangel" v-model="mapType">
        <label for="erangel"><font color="#FFD306">小岛</font></label>
        <input type="radio" id="miramar" value="miramar" v-model="mapType">
        <label for="miramar"><font color="#FFD306">沙漠</font></label>
        <br>
        <br>
        <label class="label"><font color="#FFD306">地图选项:</font></label>
        <input type="checkbox" id="followme" v-model="followMe">
        <label for="followme"><font color="#FFD306">视角跟随</font></label>
        <br>
        <input type="checkbox" id="showbox" v-model="showBox">
        <label for="showbox"><font color="#FFD306">显示盒子</font></label>
        <br>
        <input type="checkbox" id="showairdrop" v-model="showAirDrop">
        <label for="showairdrop"><font color="#FFD306">显示空投</font></label>
        <br>
        <input type="checkbox" id="showcar" v-model="showCar">
        <label for="showcar"><font color="#FFD306">显示载具</font></label>
        <br>
        <br>
        <label class="label" v-on:dblclick="showNoItems"><font color="#FFD306">物品选项:</font></label>
        <input type="checkbox" id="showitemtop" v-model="showItemTop">
        <label for="showitemtop"><font color="#FFD306">3级物品</font></label>
        <br>
        <input type="checkbox" id="showitemduo" v-model="showItemDuoDuo">
        <label for="showitemduo"><font color="#FFD306">2级物品</font></label>
        <br>
        <input type="checkbox" id="showitembasic" v-model="showItemBasic">
        <label for="showitembasic"><font color="#FFD306">1级物品</font></label>
        <br>
        <input type="checkbox" id="showitemar" v-model="showItemAR">
        <label for="showitemar"><font color="#FFD306">自动步枪相关</font></label>
		<br>
        <input type="checkbox" id="showitemsr" v-model="showItemSR">
        <label for="showitemsr"><font color="#FFD306">狙击步枪相关</font></label>
        <br>
        <input type="checkbox" id="showitemhealth" v-model="showItemHealth">
        <label for="showitemhealth"><font color="#FFD306">药品</font></label>
        <input type="checkbox" id="showitemthrow" v-model="showItemThrow">
        <label for="showitemthrow"><font color="#FFD306">投掷物</font></label>
        <input type="checkbox" id="showitemammo" v-model="showItemAmmo">
        <label for="showitemammo"><font color="#FFD306">子弹</font></label>
        <br>
        <input type="checkbox" id="showitemall" v-model="showItemAll">
        <label for="showitemall"><font color="#FFD306">所有</font></label>
        <hr>
        <a class="button is-small" @click="setFPS(5)"><font color="#FFD306">fps5</font></a>
        <a class="button is-small" @click="setFPS(15)"><font color="#FFD306">fps15</font></a>
        <a class="button is-small" @click="setFPS(30)"><font color="#FFD306">fps30</font></a>
        <!-- <a class="button is-small" @click="toggleRefresh">{{ toggleButtonText }}</a>
        <br> -->
        <br>
        <br>
        <span><font color="#FFD306">Game Start: {{ gameStartTime }}</font></span>
        <br>
        <span><font color="#FFD306">Last Packet: {{ lastPacketTime }}</font></span>
        <br>
        <span>{{ coordinate }}</span>
      </section>

    </div>
    <div id="map"></div>
  </div>

  <script src="app.js"></script>
</body>

</html>
