<!DOCTYPE html>
<html>

<head>
  <title>云雷达</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/openlayers@4.6.4/dist/ol.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
  <link rel="stylesheet" href="./app.css" />

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/openlayers"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="projection.js"></script>
</head>

<body>
  <div id="app">
    <div class="sidenav">
      <section class="section">
        <h1 align="left"><font color="#FFFFFF" size="5">云雷达</font></h1>
        <p><font color="#FFFFFF"> </font></p>
        <!-- <div class="field is-grouped">
          <a class="button is-small">Button</a>
          <a class="button is-small">Button2</a>
        </div> -->
        <label class="label" style="line-height:2.5"><font color="#FFFFFF"></font></label>
        <input type="radio" id="erangel" value="erangel" v-model="mapType">
        <label for="erangel"><font color="#FFFFFF">小岛</font></label>
        <input type="radio" id="miramar" value="miramar" v-model="mapType">
        <label for="miramar"><font color="#FFFFFF">沙漠</font></label>
        <br>
        <br>
        <label class="label"><font color="#FFFFFF">地图选项:</font></label>
        <input type="checkbox" id="followme" v-model="followMe">
        <label for="followme"><font color="#FFFFFF">视角跟随</font></label>
        <br>
        <input type="checkbox" id="showbox" v-model="showBox">
        <label for="showbox"><font color="#FFFFFF">显示盒子</font></label>
        <br>
        <input type="checkbox" id="showairdrop" v-model="showAirDrop">
        <label for="showairdrop"><font color="#FFFFFF">显示空投</font></label>
        <br>
        <input type="checkbox" id="showcar" v-model="showCar">
        <label for="showcar"><font color="#FFFFFF">显示载具</font></label>
        <br>
        <br>
        <label class="label" v-on:dblclick="showNoItems"><font color="#FFFFFF">物品选项:</font></label>
        <input type="checkbox" id="showitemtop" v-model="showItemTop">
        <label for="showitemtop"><font color="#FFFFFF">高级物资</font></label>
        <br>
        <input type="checkbox" id="showitemduo" v-model="showItemDuoDuo">
        <label for="showitemduo"><font color="#FFFFFF">多多益善</font></label>
        <br>
        <input type="checkbox" id="showitembasic" v-model="showItemBasic">
        <label for="showitembasic"><font color="#FFFFFF">基本物资</font></label>
        <br>
        <input type="checkbox" id="showitemar" v-model="showItemAR">
        <label for="showitemar"><font color="#FFFFFF">步枪相关</font></label>
		<br>
        <input type="checkbox" id="showitemsr" v-model="showItemSR">
        <label for="showitemsr"><font color="#FFFFFF">狙击相关</font></label>
        <br>
        <input type="checkbox" id="showitemhealth" v-model="showItemHealth">
        <label for="showitemhealth"><font color="#FFFFFF">药品</font></label>
        <br>
        <input type="checkbox" id="showitemthrow" v-model="showItemThrow">
        <label for="showitemthrow"><font color="#FFFFFF">投掷物</font></label>
        <br>
        <input type="checkbox" id="showitemammo" v-model="showItemAmmo">
        <label for="showitemammo"><font color="#FFFFFF">子弹</font></label>
        <br>
        <input type="checkbox" id="showitemall" v-model="showItemAll">
        <label for="showitemall"><font color="#FFFFFF">所有</font></label>
        <!-- <a class="button is-small" @click="toggleRefresh">{{ toggleButtonText }}</a>
        <br> -->
        <br>
        <br>
		<input type="radio" name="fps" checked="checked" onclick="setFPS(10)">
        <label for="fps10" ><font color="#FFFFFF">fps10</font></label>
        <br>
		<input type="radio" name="fps" onclick="setFPS(20)">
        <label for="fps20"><font color="#FFFFFF">fps20</font></label>
        <br>
        <input type="radio" name="fps" @click="setFPS(30)">
        <label for="fps30"><font color="#FFFFFF">fps30</font></label>
		<br>
		<br>
        <span><font color="#FFFFFF"> {{ gameStartTime }}</font></span>
        <br>
        <span><font color="#FFFFFF"> {{ lastPacketTime }}</font></span>
        <br>
        <span>{{ coordinate }}</span>
      </section>

    </div>
    <div id="map"></div>
  </div>

  <script src="app.js"></script>
</body>

</html>
